.tools-section {
    text-align: center;
    padding: 50px 0;
    width: 80%;
    margin: 20px auto;
}

.tools-section h2 {
    font-size: 36px;
    /* color: #333; */
    margin-bottom: 30px;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns by default for larger screens */
    gap: 20px;
}

/* For smaller devices (max-width: 768px), show 2 items in each row */
@media (max-width: 768px) {
    .tools-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller devices */
    }
}

/* For very small screens (max-width: 480px), show 2 items per row */
@media (max-width: 480px) {
    .tools-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
        gap: 15px;
    }
}

.tool-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0e1538, #c9ce9e); /* Gradient similar to the example */
    padding: 40px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.tool-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.tool-item svg {
    font-size: 50px;
    color: #fff;
}
