.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background:#0E1538;
  }
  
  .travel-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 30px;
    color: white;
  }
  
  .text-content {
    flex: 1;
    max-width: 600px;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffcc00;
  }
  
  .subtitle {
    font-size: 1.8rem;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ff5733;
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
  }
  
  .hero-image {
    width: 50%;
    max-width: 250px;
    border-radius: 20px;
    /* box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2); */
    transition: transform 0.3s ease-in-out;
  }
  
  .hero-image:hover {
    transform: scale(1.05);
  }
  
  .icon {
    font-size: 1.5rem;
    color: #ffcc00;
  }
  
  @media (max-width: 768px) {
    .travel-hero {
      flex-direction: column;
      text-align: center;
    }
    
    .text-content {
      max-width: 100%;
    }
    
    .title {
      font-size: 2.5rem;
    }
    
    .subtitle {
      font-size: 1.5rem;
    }
    
    .description {
      font-size: 1rem;
    }
    
    .hero-image {
      width: 100%;
      max-width: 400px;
    }
  }
  





  div.at-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.at-item {
		color: #3079ed; font-weight:bold; font-size:3em;
		
		animation-name: focus-in-contract;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;
			
		/* shorthand
		animation: focus-in-contract 1s linear 0s 1 normal none;*/
	}
	@keyframes focus-in-contract {
			
		0% {
			letter-spacing:1em;
			filter:blur(12px);
			opacity:0;
		}
		100% {
			filter:blur(0);
			opacity:1;
		}
	}