/* src/Components/Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1538;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px; /* Adjusted height */
}

.logo {
  color: #61dafb;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #61dafb;
}

.active a {
  color: #61dafb;
  font-weight: bold;
}

/* Mobile menu button */
.mobile-menu-icon {
  display: none;
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
  }

  .nav-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px; /* Position below the navbar */
      right: 0;
      width: 100%;
      background-color: #e9ecf1;
      text-align: center;
      z-index: 999;
      max-height: 300px; /* Limit height */
      overflow-y: auto; /* Allow scrolling */
  }

  .nav-links-mobile li {
      margin: 15px 0;
  }

  .nav-links-mobile a {
      color: rgb(122, 123, 202); 
      font-size: 20px;
      transition: color 0.3s;
      text-decoration: none;
  }

  .nav-links-mobile a:hover {
      color: #61dafb; 
  }

  .mobile-menu-icon {
      display: block; /* Show the mobile menu icon */
  }
}
